.App{
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7rem;
  background-color: #0c0d1038;
  color: white;
  /* overflow: hidden; */
}

/* .App section{
  background-color: #001f7c38;
} */

.background-video{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  /* z-index: -1; */
  mix-blend-mode: soft-light;
}

@media (max-aspect-ratio: 16/9){
  .background-video{
      width: auto;
      height: 100%;
  }
}

@media (min-aspect-ratio: 16/9){
  .background-video{
      width: 100%;
      height: auto;
  }
}

/* Gradient Animation */
.gradient{
  background: linear-gradient(to right, #008baa, #7e42a7, #6600c5, #6070fd, #2a46ff, #0099ff, #008ead);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip:  text;
  -webkit-text-fill-color: transparent;
  animation: animate-gradient 2.5s linear infinite;
}

@keyframes animate-gradient{
  to{
      background-position: 200%;
  }
}

/* Tablet Responsive */
@media screen and (max-width: 1500px){
  .background-video{
      width: 100%;
      height: 100%;
  }
}

/* Mobile Responsive */
@media  screen and (max-width: 1000px) {
  .background-video{
      width: auto;
      height: 100%;
  }
}